.footer {
    /* width: 85%; */
    color: white;
    /* border: 1px solid white; */
    margin: auto;
    /* margin-bottom: 50px; */
    padding: 10px;
    text-align: center;
    padding-top: 100px;
    margin-top: 70px;
    padding-bottom: 10px;
    font-family: 'Manrope';
    font-style: normal;
    letter-spacing: -0.04em;
    background: #031B34;

}

.footer_text {
    margin-bottom: 100px;
}

.footer_text h1{
    font-size: 3rem;
}
.footer_text p {

    /* display: inline; */
    width: 180px;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid white;
}

.footer_link {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
.footer_link_links{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */

}

.footer_link_p1 {
    font-family: 'Manrope';

    font-size: 12px;
    line-height: 14px;
    width: 130px;
    height: 200px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;

}

.footer_link_p1 h3 {
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 16px;
}
.footer_link_img{
    width: 200px;
}
.footer_link_img p{
    margin-top: 40px;
}
@media only screen and (max-width:700px){
    .footer_link{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_link_links{
        width: 100%;
        justify-content: space-evenly;
        margin-top: 50px;
        /* padding-left: 0px; */
    }
}